.nwm {
  background-color: #00487c;
  color: white;
  font-size: 2em;
}

@media screen and (max-width: 375px)
and (orientation:portrait)
{
  .nwm {
    background-color: #00487c;
    color: white;
    font-size: 1em;
  }
}

@media screen and (max-width: 812px)  {
  .nwm {
    background-color: #00487c;
    color: white;
    font-size: 1.5em;
  }
}

