<!--Medium-->
<div class="row d-none d-md-flex mt-md-5">
  <div class="col-md-3"></div>
  <div class="col-md-5"><h4 class="greyTitle">My projects</h4></div>

  <div class="col-md-4">
    <input #searchBox (keyup)="getProjects(searchBox.value)" type="text" class="form-control float-right" placeholder="Search">
  </div>
</div>

<div class="row d-none d-md-flex mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <table class="table table-hover">
      <thead>
        <tr class="row">
          <th scope="col" class="col-6">API</th>
          <th scope="col" class="col-6">Description</th>
          <th scope="col" class="col-6">Auth</th>
          <th scope="col" class="col-6">HTTPS</th>
          <th scope="col" class="col-6">Cors</th>
          <th scope="col" class="col-6">Link</th>
          <th scope="col" class="col-6">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beastApi of beastApis" class="row">
          <td class="col-6">{{beastApi.Api}}</td>
          <td class="col-6">{{beastApi.Description}}</td>
          <td class="col-6">{{beastApi.Auth}}</td>
          <td class="col-6">{{beastApi.HTTPS}}</td>
          <td class="col-6">{{beastApi.Cors}}</td>
          <td class="col-6">{{beastApi.Link}}</td>
          <td class="col-6">{{beastApi.Category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Small-->
<div class="d-md-none">
  <div class="row">
    <div class="col-7 mb-4 mt-3">
      <input #searchBox (keyup)="getProjects(searchBox.value)" type="text" class="form-control float-right" placeholder="Search">
    </div>
    <div class="col-2"></div>
    <div class="col-1 mt-3 ">
      <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-sm btn-outline-secondary">New</button>
      </div>
    </div>
   
  </div>
 
  <div class="row">

    <div class="col-12 ml-3">
      <table class="table table-hover">
        <thead>
          <tr class="row">
            <th scope="col" class="col-3">Name</th>
            <th scope="col" class="col-5">Description</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects" class="row">
            <td class="col-3"></td>
            <td class="col-5"></td>
            <td class="col-1"><a href="#" routerLink="/project/"><i class="fa fa-wrench" aria-hidden="true"></i></a></td>
            <td class="col-1"><i class="fa fa-tasks" aria-hidden="true"></i></td>
            <td class="col-1"><i class="fa fa-user" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


